/* body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #222;
}
 */

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.filter-box {
    background-color: #f3f3f3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.moiveFilter {
    font-weight: 600;
    margin-bottom: 20px;
}

.movie-card {
    width: 220px;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}


.movie-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
}

.movie-card h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    z-index: 2;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {
    .movie-card {
        width: 100%;
    }

    .filter-box {
        margin-bottom: 20px;
    }
}