.know-cinema {
    margin: 40px 0px;
    gap: 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.know-cinema:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.know-cinemaImage{
    height: 200px;
    width: 260px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}

.know-cinemaImage img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 13px;
}

.know-cinemaInfo h2 {
    color: #222222;
}

.know-cinemaInfo p {
    color: #666666;
}

.know-cinemaInfo i {
    color: #212e61;
}

.know-cinemaInfo button {
    background: #222222;
    cursor: pointer;
    transition: background 0.4s ease, transform 0.2s ease;
}

.know-cinemaInfo button:hover {
    background: #4e4c4c;
    transform: scale(1.05);
}

.onScreen-cinemaImage {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgBox {
    position: relative;
    height: 280px;
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
}

.imgBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBox::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.4);
}

.imgBox h4 {
    position: absolute;
    bottom: 11px;
    left: 8px;
    color: white;
    font-size: 20px;
    z-index: 2;
    margin-bottom: 0px;
}




/* Responsive */
@media (max-width: 767.98px) {
    .know-cinema {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .know-cinemaImage {
        margin-right: 0;
        margin-bottom: 13px;
        width: 100%;
        height: 200px;
    }

    .know-cinemaInfo p {
        margin-bottom: 13px;
    }

    .know-cinemaInfo button {
        width: 100%;
    }
}