.know-cinema {
    margin: 40px 0px;
    gap: 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.know-cinema:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.know-cinemaImage{
    height: 200px;
    width: 260px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}

.know-cinemaImage img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 13px;
}

.know-cinemaInfo h2 {
    color: #222222;
}

.know-cinemaInfo p {
    color: #666666;
}

.know-cinemaInfo i {
    color: #212e61;
}

.know-cinemaInfo button {
    background: #222222;
    cursor: pointer;
    transition: background 0.4s ease, transform 0.2s ease;
}

.know-cinemaInfo button:hover {
    background: #4e4c4c;
    transform: scale(1.05);
}

.onScreen-cinemaImage {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 20px;
}

.onScreen-cinemaImage img {
    height: 280px;
    width: 220px;
}



/* Responsive */
@media (max-width: 767.98px) {
    .know-cinema {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .know-cinemaImage {
        margin-right: 0;
        margin-bottom: 13px;
        width: 100%;
        height: 200px;
    }

    .know-cinemaInfo p {
        margin-bottom: 13px;
    }

    .know-cinemaInfo button {
        width: 100%;
    }
}