body {
    background: url('../assets/images/Background.jpg') no-repeat center center/cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/Background.jpg') no-repeat center center/cover;
    filter: blur(8px) brightness(0.5);
    z-index: -1;
}

.login-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.login-card {
    background: white;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    backdrop-filter: blur(5px);
}

.form-control {
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 400;
    height: 3.125rem !important;
    min-height: 3.125rem !important;
    background-color: #F9F9F9;
}

.form-control,
.form-control:focus,
.form-floating>label {
    padding: 0.75rem 1.25rem !important;
}

.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 2.25rem !important;
    padding-bottom: 1rem !important;
}

.hidePassword {
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    display: block !important;
    font-size: 18px;
    transition: opacity 0.3s ease;
}

span.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}