.movie-image {
    height: 280px;
    width: 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}


.movie-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 13px;
}


.bookBtn {
    background-color: #222222;
    color: #ffffff;
}

.bookBtn:hover {
    background-color: #464444;
    color: #ffffff;
}